// Modify the base color of the theme

$v-background-color: hsl(30, 0%, 100%);

$v-font-family: 'Oxygen', sans-serif;

/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../valo/valo";

@mixin V18N {

  /* A static text that is shown under the loading spinned while the client-side engine is being loaded and started. */
  $v-app-loading-text: "Loading Tipstar...";

  @include valo;

  .text-align-center {
    text-align: center;
  }

  .no-margin {
    margin: 0;
  }

  .login-background {
    background: url(img/background.jpg);
    background-size: contain;
  }

  .login-form {
    width: 620px;
    margin: 0;
    background-color: lightgray;
  }

  .login-button {
    width: 100%;
  }

  .info-box {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border: 5px solid;
  }

  .text-color-white {
    color: white;
  }
}